@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800|Roboto:100,300,400,500,700,900');
@import url('https://fonts.googleapis.com/css?family=Titillium+Web');


body{
    overflow-x: hidden;
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    background-color: #e0e0e0 !important;
}

h1,h2,h3,h4,h5 {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    letter-spacing: 1px;
    line-height: 25px;
    color: #333333;
}
ul {
    margin: 0;
    padding: 0;
}
a  {
    text-decoration: none !important;
    font-family: 'Open Sans', sans-serif;
}

ul li  a {
    font-family: 'Open Sans', sans-serif;
}
p {
    padding: 0;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    line-height: 25px;
    color: #555;
    margin-top: -5px;
}

.pad {
    padding: 0;
}

.pad-xm{
    padding: 10px;
}
.topmargin-xlg {
    margin-top: 40px;
}
.topmargin-lg {
    margin-top: 35px;
}
.topmargin-md {
    margin-top: 25px;
}
.topmargin-sm {
    margin-top: 15px;
}
.topmargin-xs {
    margin-top: 10px;
}

.bottommargin-xlg {
    margin-bottom: 40px;
}
.bottommargin-lg {
    margin-bottom: 35px;
}
.bottommargin-md {
    margin-bottom: 25px;
}
.bottommargin-sm {
    margin-bottom: 15px;
}
.bottommargin-xs {
    margin-bottom: 10px;
}


.toppad-xlg {
    padding-top: 40px;
}
.toppad-lg {
    padding-top: 35px;
}
.toppad-md {
    padding-top: 25px;
}
.toppad-sm {
    padding-top: 15px;
}
.toppad-xs {
    padding-top: 10px;
}

.leftpad{
    padding-left: 10px;
}


.bottomppad-xlg {
    padding-bottom: 40px;
}
.bottomppad-lg {
    padding-bottom: 35px;
}
.bottomppad-md {
    padding-bottom: 25px;
}
.bottomppad-sm {
    padding-bottom: 15px;
}
.bottomppad-xs {
    padding-bottom: 10px;
}

.default-btn {
    border: none;
    font-size: 16px;
    letter-spacing: 1px;
    display: inline-block;
    margin-bottom: 0;
    font-weight: 500;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    border-radius: 0;
}
.btn-lg {
    padding: 12px 25px;
    font-size: 20px;
}
.btn-md {
    padding: 10px 20px;
    font-size: 18px;
}
.btn-sm {
    padding: 8px 18px;
}
.btn-xs {
    padding: 6px 15px;
    font-size: 15px;
}
.btn-bg {
    background-color: darkslategray;
    color: #fff;
}
.btn-bg:hover {
    background-color: green;
    color: #ddd;
}
.btn-border {
    border: 1px solid #eee;
}
.btn-border:hover {
    border: 1px solid #eee;
    color: green;
}
.btn-radius {
    border-radius: 10px;
}
/*-- header --*/
.relative {
    position: relative;
}

.facolor{
    color: #ffba00;
}
.header-top{
    background-color: #007134;
    padding: 4px 0 6px 0;
}
.top-leftbar li {
    color: #fff;
}

.top-leftbar li a {
    color: #fff;
}

.top-leftbar li:hover {
    color: #ddd;
}

.top-leftbar li a:hover {
    color: #ddd;
}

.middle-header {
    padding:5px;
}

.logo span{
    margin: 0;
    padding: 0;
    font-family: Serif;
    font-weight: 600;
    letter-spacing: 1px;
    word-spacing: -1px;
    font-size: 25px;
    color: #007134;
}

.pointer{
    cursor: pointer;
}


/*header search box*/
.form-group {
    margin:0;
    padding:10px ;


}


.form-control {
    padding: 0px 10px 0 20px;
    margin-top: 38px;
    color: #333;
    font-size: 14px;
    font-weight: 400;
    border: 0.5px solid gainsboro;
    -webkit-box-shadow: none;
    box-shadow: none;
    min-height:40px;
    height: auto;
    border-radius: 50px 0  0 50px !important;
}
.form-control :focus {
    -webkit-box-shadow: none;
    box-shadow: none;
    border-color: transparent;

}

.form-control:hover{
    box-shadow: none;
}

#searchbtn
{ border:0;
    padding: 3px 15px;
    margin-top: 38px;
    color: #fff;
    background:#007134;
    font-size: 18px;
    font-weight: 400;
    border-left: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    min-height:40px;
    height: auto;
    border-radius: 0 50px 50px 0 !important;
}

/*end*/




/*-- menu --*/
.bottom-header {
    background-color: #007134;
    height: 50px;
}
.navbar-default {
    background-color: #007134;
    border: none !important;
    height: 49px;
    border-radius: 0px;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover{

    background-color: #f4a024;
    color: white;
}

.navbar-nav li a{
    color: #ffffff !important;
    display: block;
    font-size: 16px;
    font-weight: normal;
    position: relative;
    z-index: 99;
    background-color: #007134;
}

.navbar li a:hover{
    color: #ffffff !important;
    display: block;
    font-size: 16px;
    font-weight: normal;
    position: relative;
    z-index: 99;
    background-color: #f4a024 !important;
}

.border-none{
    border: 0px;
}

.dropdown-menu{
    padding: 0px;
}
.dropdown-menu li a{
    color: #ffffff !important;
    display: block;
    font-size: 16px;
    font-weight: normal;
    position: relative;
    z-index: 99;
    background-color: #007134 !important;
    padding: 10px !important;
    border: 0px;
}

.dropdown-menu li a:hover{
    color: #ffffff !important;
    display: block;
    font-size: 16px;
    font-weight: normal;
    position: relative;
    z-index: 99;
    background-color: #f4a024 !important;
    padding: 5px;
    border: 0px;
}

.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover {
     background-color: #f4a024 !important;
}

.navbar-default .navbar-nav>li>a {
    color: #777;
}
.nav .open>a, .nav .open>a:focus, .nav .open>a:hover {
     background-color: #007134 !important;
}

.manu-botton{
    height: 5px;
    background-color: #f4a024;
}

/*notice board*/

.notice-padding{
    padding: 0px 10px 0px 10px;
}

.notice-header{
    height: 40px;
    line-height: 40px;
    font-family: 'Roboto', sans-serif;
    border-bottom: 1px #f4a024 solid;

}

.notice-header .notice{
    font-weight: 400;
    font-size: 18px;
    background-color: #f4a024;
    padding: 9px 15px;
    font-family: 'Roboto', sans-serif;
    color: #f9f9f9;
}


.notice-line .list-inline {
    padding-left: 0;
    margin-left: 5px;
    list-style: none;

}

.notice-line .list-inline li{
    border-bottom: 1px #f4a024 dashed;
    padding: 5px;

}

.notice-line .list-inline li:last-child{
    border-bottom: 0px;
}

.notice-line .list-inline li a{
    color: #0f0f0f;
    font-size: 16px;
    padding: 10px;
}

.notice-line .list-inline li i{
    padding-left: 25px;
}

.btn-notice{
    width: 100%;
    background-color: #007134;
    color: #f9f9f9;
    padding: 7px;
    font-size: 16px;
    border: 0px;
}

.btn-notice:hover{
    width: 100%;
    background-color: #2b542c;
    color: #f9f9f9;
    padding: 7px;
    font-size: 16px;
    border: 0px;
    transition-property: background-color;
    transition-duration: 3s;
}


.btn-notice a{
    color: #5e5e5e;
}

.notice-line .list-inline li i{
    font-size: 12px;
    color: #777777;
    padding-bottom: 15px;
}


/*---------end--------*/

/*--------start-overview-----*/
.overview{
    padding: 35px 15px 0px 15px;
}

.single-div{
    width: 100%;
    padding: 0px;
}

.overview-title{
    background-color: green;
    height: 60px;
    color: #f9f2f4;
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
    /*padding: 5px;*/
    letter-spacing: 1px;
    display: table;
    /*display: table-cell;*/
    /*vertical-align: middle;*/
    width: 100%;
}

.overview-title a {
    color: #f9f9f9;
    cursor: pointer;
    display: table-cell;
    vertical-align: middle;
}

.owl-carousel .owl-nav button.owl-next{
    position: absolute;
    padding: 5px;
    color: #f4a024;
    font-size: 50px;
    font-weight: bold;
    top: 45px;

}

.owl-carousel .owl-nav button.owl-prev{
    position: absolute;
    padding: 5px;
    color: #f4a024;
    font-size: 50px;
    font-weight: bold;
    top: 45px;
    right: 0;
}

/*end*/

/*start welcome post*/
.welcome{
    padding: 35px 15px 0px 15px;
    min-height: 450px;
}
.wellcome-post{

    /*padding: 10px;*/
    background-color: #f9f9f9;
    padding: 10px;
    margin: 0px;

}

.wellcome-post .title{
    text-align: center;
    font-family: sans-serif;
    font-weight: 300;
    font-size: 30px;
    letter-spacing: 1px;
}


.wellcome-post article{

    padding: 50px 0px 10px 0px;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    letter-spacing: 1px;
}

/*end*/

.testimonial{
    padding: 35px 15px 0px 15px;
    min-height: 450px;
    overflow: hidden;
}

.testimonial-body{
    
    margin: 0px;
    padding: 10px;
}


/*end*/


.btn-green{
	background-color: green;
	color: white;
}

.btn-green:hover{
   
   color: #f4a024;
}

.news-title{
    text-align: center;
    font-family: sans-serif;
    font-weight: 700;
    font-size: 30px;
    letter-spacing: 1px;
    padding: 15px;

}

article{
	padding: 25px 0px 10px 0px;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 1px;
    text-align: justify;
}

.short-view{
	min-height: 180px;
	background-color: green;
	border: 5px solid #f9f9f9;
}

.short-view h3{
	margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    letter-spacing: 1px;
    line-height: 25px;
    color: white;
    text-align: center;
    padding-top: 15px;
}

.short-view img{
	height: 120px;
	padding-left: 25%;
	padding-top: 5px;

}


.gallrey .show-image{
	width: 180px;
	height: 150px;

}

.show-image img{
	width: 180px;
	height: 120px;
}

footer{
	min-height: 300px;
}

.footer-view h3{
	font-weight: 0;
	font-size: 16px;
}

.footer-link li a{
	font-size: 14px;
	color: #f9f9f9;
	font-weight: 
}

.footer-link li a:hover{
	color: #cccccc;
}

.social-icon{
	padding-top: 10px;
}
.social-icon li{
	width: 35px;
	height: 35px;
	background-color: white;
	box-shadow: 0px 0px 10px #aaa;
	border-radius: 50px;


}

.social-icon li a{
	display: block;
	line-height: 35px;
	text-align: center;
	font-size: 18px;
	font-family: sans-serif;
	font-weight: 300;
}

.fb-color{
	color: #3B5998;
}

.tw-color{
	color: #00aced;
}

.in-color{
	color: #4875B4;
}

.g-color{
	color: #d34836;
}

.i-color{
	color: #4875B4;
}

.y-color{
	color: #ff0000;
}

.footer-img{
    width: 100%;
   
}

.footer-img ul li{
	text-align: center;
	color: #f9f9f9;
}

.footer-img img{
	display: block;
	margin: 0 auto;
    height: 120px;
	width:  80px;
}

.copyright{
	background-color: green;
	padding: 5px;
}

.copyright span{
	text-align: center;
	color: #f9f9f9;

}











